<% layout("/layouts/boilerplate") %>
  <h1>Privacy Policy</h1>
  <img src="/privacy.jpg" alt="Privacy Image" style="width:600px; height:400px; border-radius: 1rem;">
  <p>At NextWander, we are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner.</p>
  <h2>Information We Collect</h2>
  <p>We collect personal information from you when you register on our site, place an order, respond to a survey or fill out a form.</p>
  <h2>How We Use Your Information</h2>
  <p>We may use the information we collect from you in the following ways:</p>
  <ul>
    <li>To personalize your experience</li>
    <li>To improve our website</li>
    <li>To improve customer service</li>
  </ul>
  <h2>How We Protect Your Information</h2>
  <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
  <h2>Cookies</h2>
  <p>We use cookies to help us remember and process the items in your shopping cart, understand and save your preferences for future visits, and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
  <h2>Third Party Disclosure</h2>
  <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice.</p>
  <h2>Contacting Us</h2>
  <p>If you have any questions or concerns regarding this privacy policy, please contact us at:</p>
  <p></p>
  <p>NextWander</p>
  <p>NextWander@example.com</p>
  <p>+92-3146194207</p>
