<% layout("/layouts/boilerplate") %>

<div class="chat-container">
  <ul id="chat-history">
    <!-- Chat messages will be appended here -->
  </ul>
  <form id="chat-form">
    <input type="text" id="chat-message" placeholder="Type a message..." autocomplete="off">
    <button type="submit">Send</button>
  </form>
</div>

<script src="/js/chat.js"></script>